/* BACKGROUND IMG AND LOGO */
.background-img{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;


}
.procoder{
    width: 150px;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}


/* MENU DATA */


.navbar{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
}

.manu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-right: 29px;    
}

.manu ul li{
    padding-top: 10px;
    
}

.manu ul li a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.manu ul li  :hover{
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(202, 84, 0)

}

/* HEADING AND PARAGRAPH */


.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
}
.section-two h1{
    text-transform: capitalize;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: large;
}
.section-two p{
    font-weight: 100;
    align-items: center;
}




/* BOXES */

.main{
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main div{
    box-shadow:rgba(100, 111, 106, 0.566) 0px 7px 29px 0px; 
    height: 120px;
    width: 70%;
    border-radius: 10px;
    background-color:white;
    margin: 5px 0px;
    margin: 43px;
}


/* PART TO OF WEB */


.section-three{
    background-image: url(pexels-daan-stevens-66128-939331.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 0px;


}

.opacity-container{
    background-color: rgba(0, 0, 0, 0.526);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-two{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-weight: 200;
    padding-left: 0px;
}
.heading-two h3{
    /* padding-right: 110px; */
    border-bottom: none;
    border-top: none;
    border-top:none; 
    text-transform: capitalize;
    font-weight: 200;
    font-size: smaller;
}
.heading-two h1{
    text-transform: capitalize;
    font-size: large;
    margin-top: 30px;
}

.form-login{
    background-color: aliceblue;
    width: 90%;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 70px; */

}

#first-btn{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 5px;
    text-transform: lowercase;
    font-size: x-small;
    font-weight: 300;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}
#first-btn:hover{
    background-color:white;
    color: black;
    cursor: pointer;
}

.form-login p{
    padding-top: 15px;
   padding-right: 40px;
    font-size: smaller;
}

.form-login  input{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 1px;
    padding: 3px;
    border-color:rgb(202, 84, 0);
}

#second-btn{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    padding: 5px;
    text-transform: lowercase;
    font-size: xx-small;
    font-weight: 200;
    border-radius: 5px;
    color:white;
    background-color:rgb(202, 84, 0); 
    cursor: pointer;
}

.fotter{
    background-image: url(modern-business-background_875746-17394.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}


.fotter-color{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.fotter-logo{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    padding-top: 100px;
   
}

.fotter-logo img{
    border-radius: 10px;
}

.serveses{
    padding-top: 70px;
}

.serveses h3{
    padding-bottom: 10px;
    font-size: small;
}

.abouts{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.abouts h3{
    padding-bottom: 10px;
    font-size: medium;
}

.all-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
}

.list li{
    list-style: none;
    padding: 5px;

}
.list li a{
    color: black;
    text-transform: capitalize;
    font-size: small;
    font-weight: 200;
    color: aliceblue;
}

.copyright{
    font-weight: 100;
    font-size: x-small;
    padding-bottom: 20px;
    color: aliceblue;
}